/web/bundles/
/vendor/
/var/
/app/bootstrap.php.cache
/app/cache/
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
.idea/workspace.xml
.idea/*
/build/
/bin/
/composer.phar
/composer.lock
